.nav-container{
    *width:250px;
    width:198px;
    margin-top:30px;
	margin-right:0;
   /*  box-shadow: 0 2px 2px 2px black; */
    transition: all 0.3s linear;
  }
  .nav{
    list-style-type:none;
    margin:0;
    padding:0;
  }
  .nav li{
    height:50px; 
    position:relative;
    /* background: linear-gradient(#f2f2f2, #f2f2f2); */
  }
  
  /* esttilo aplicado a items de menu */
  .nav a {
   /*  border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black; */
    text-decoration:none;
    display:block;
    height:100%;
    /* width:100%; */
    line-height:30px;
    color:#000000;
    text-transform: uppercase;
    /* font-weight: bold; */
    padding-left:5%;
    /* border-left:5px solid transparent; */
    letter-spacing:1px;
    transition: all 0.3s linear;
    font-family: Arial, Helvetica;
  }
  .nav .active a{
    color: #399DE9; color:"#2387d1"
    border-left:5px solid #399DE9;
    background-color: #f2f2f2;
    outline:0;
  }
  .nav li:not(.active):hover a{
    color: #CD0A0A;
    /* border-left: 5px solid #FCFCFC; */
    background-color: #f2f2f2;
  }
  .nav span[class ^= "icon"]{
    position:absolute;
    left:20px;
    font-size: 1.5em;
    transition: all 0.3s linear;
  }

  @media only screen and (max-width : 860px){

    .nav .text{
      display:none;
    }

    .nav-container , a{
      width: 70px;

    }

    .nav a:hover{
      width:200px; 
      z-index:1;
      border-top: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid black;
      box-shadow: 0 0 1px 1px black;
    }

    .nav a:hover  .text {
      display:block;
      padding-left:30%;
    }
  }
  @media only screen and (max-width : 480px){
    .nav .nav-container, a{ width:50px;}
    span[class ^= "icon"]{ left:8px;}
  }
   .btn {
	  display: inline-block;
	  padding: 2px 6px;
	  margin-bottom: 0;
	  font-size: 7px;
	  line-height: 20px;
	  color: #333;
	  text-align: center;
	  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	  vertical-align: middle;
	  cursor: pointer;
	  background-color: #f5f5f5;
/* 	  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	  background-repeat: repeat-x; */
	  border: 1px solid #ccc;
	  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	  border-bottom-color: #b3b3b3;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	} 